List ((
	texture_width: 4096,
	texture_height: 4096,
	sprites: [
		(
			x: 1158,
			y: 910,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 3250,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 3120,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 1040,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 1170,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 1300,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 1430,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 1560,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 1690,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 1820,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 1950,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 2080,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 2210,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 2340,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 2470,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 2600,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 2730,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 2860,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 2990,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 3120,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 3250,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 3380,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 3510,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 3640,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 3770,
			width: 366,
			height: 128,
		),
		(
			x: 1158,
			y: 3900,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 910,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 1040,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 1170,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 1300,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 1430,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 1560,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 1690,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 1820,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 1950,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 2080,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 2210,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 2340,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 2470,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 2600,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 2730,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 2860,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 2990,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 3120,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 3250,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 3380,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 3510,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 3640,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 3770,
			width: 366,
			height: 128,
		),
		(
			x: 1526,
			y: 3900,
			width: 366,
			height: 128,
		),
		(
			x: 1544,
			y: 0,
			width: 366,
			height: 128,
		),
		(
			x: 1544,
			y: 130,
			width: 366,
			height: 128,
		),
		(
			x: 1544,
			y: 260,
			width: 366,
			height: 128,
		),
		(
			x: 1544,
			y: 390,
			width: 366,
			height: 128,
		),
		(
			x: 1544,
			y: 520,
			width: 366,
			height: 128,
		),
		(
			x: 1544,
			y: 650,
			width: 366,
			height: 128,
		),
		(
			x: 1544,
			y: 780,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 3900,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 1040,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 1170,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 1300,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 1430,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 1560,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 1690,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 1820,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 1950,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 2080,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 2210,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 2340,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 2470,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 2600,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 2730,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 2860,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 2990,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 3380,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 3510,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 3640,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 3770,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 3900,
			width: 366,
			height: 128,
		),
		(
			x: 1912,
			y: 0,
			width: 366,
			height: 128,
		),
		(
			x: 1912,
			y: 130,
			width: 366,
			height: 128,
		),
		(
			x: 1912,
			y: 260,
			width: 366,
			height: 128,
		),
		(
			x: 1912,
			y: 390,
			width: 366,
			height: 128,
		),
		(
			x: 1912,
			y: 520,
			width: 366,
			height: 128,
		),
		(
			x: 1912,
			y: 650,
			width: 366,
			height: 128,
		),
		(
			x: 1912,
			y: 780,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 910,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 1040,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 1170,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 1300,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 1430,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 1560,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 1690,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 1820,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 1950,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 2080,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 2210,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 2340,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 2470,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 2600,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 2730,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 2860,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 2990,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 3120,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 3250,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 3380,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 3510,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 3640,
			width: 366,
			height: 128,
		),
		(
			x: 2262,
			y: 3770,
			width: 366,
			height: 128,
		),
		(
			x: 1894,
			y: 910,
			width: 366,
			height: 128,
		),
		(
			x: 0,
			y: 260,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 390,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 520,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 650,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 780,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 910,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 1040,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 1170,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 1300,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 1430,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 1560,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 1690,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 1820,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 1950,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 2080,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 2210,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 2340,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 2470,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 2600,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 2730,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 2860,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 2990,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 3120,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 3250,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 3380,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 3510,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 3640,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 3770,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 3900,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 0,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 130,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 260,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 390,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 520,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 650,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 780,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 910,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 1040,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 1170,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 1300,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 1430,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 1560,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 1690,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 1820,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 1950,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 2080,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 2210,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 2340,
			width: 384,
			height: 128,
		),
		(
			x: 1158,
			y: 780,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 2600,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 2730,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 2860,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 2990,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 3120,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 3250,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 3380,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 3510,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 3640,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 3770,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 3900,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 0,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 130,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 130,
			width: 384,
			height: 128,
		),
		(
			x: 0,
			y: 0,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 260,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 390,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 520,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 650,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 780,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 910,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 1040,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 1170,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 1300,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 1430,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 1560,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 1690,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 1820,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 1950,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 2080,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 2210,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 2340,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 2470,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 2600,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 2730,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 2860,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 2990,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 3120,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 3250,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 3380,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 3510,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 3640,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 3770,
			width: 384,
			height: 128,
		),
		(
			x: 772,
			y: 3900,
			width: 384,
			height: 128,
		),
		(
			x: 1158,
			y: 0,
			width: 384,
			height: 128,
		),
		(
			x: 1158,
			y: 130,
			width: 384,
			height: 128,
		),
		(
			x: 1158,
			y: 260,
			width: 384,
			height: 128,
		),
		(
			x: 1158,
			y: 390,
			width: 384,
			height: 128,
		),
		(
			x: 1158,
			y: 520,
			width: 384,
			height: 128,
		),
		(
			x: 1158,
			y: 650,
			width: 384,
			height: 128,
		),
		(
			x: 386,
			y: 2470,
			width: 384,
			height: 128,
		),
		(
			x: 2875,
			y: 3528,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 3398,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 3268,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 3138,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 1188,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 1318,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 1448,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 1578,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 1708,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 1838,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 1968,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 2098,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 2228,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 2358,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 2488,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 2618,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 2748,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 2878,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 3008,
			width: 128,
			height: 128,
		),
		(
			x: 2875,
			y: 3658,
			width: 128,
			height: 128,
		),
		(
			x: 2630,
			y: 2376,
			width: 243,
			height: 64,
		),
		(
			x: 2829,
			y: 4026,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 792,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3432,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3366,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 198,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 132,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 66,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 0,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 792,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 726,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 660,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 594,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 528,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 462,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 198,
			width: 243,
			height: 64,
		),
		(
			x: 2875,
			y: 858,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 594,
			width: 243,
			height: 64,
		),
		(
			x: 2875,
			y: 924,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 726,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 660,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 528,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 66,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 462,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 396,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 330,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 264,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 198,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 132,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3960,
			width: 243,
			height: 64,
		),
		(
			x: 2770,
			y: 0,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2970,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3894,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3828,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3762,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3696,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3630,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3564,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3498,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 396,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 330,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3300,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3234,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3168,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3102,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 3036,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 264,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2904,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2838,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2772,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2706,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2640,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2574,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2508,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2442,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 264,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2310,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2244,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2178,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2112,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 2046,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1980,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1914,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1848,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1782,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1716,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1650,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1584,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1518,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1452,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1386,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1320,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1254,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1188,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1122,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 1056,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 990,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 924,
			width: 243,
			height: 64,
		),
		(
			x: 2630,
			y: 858,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 792,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 726,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 660,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 594,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 528,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 462,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 396,
			width: 243,
			height: 64,
		),
		(
			x: 2525,
			y: 330,
			width: 243,
			height: 64,
		),
		(
			x: 2875,
			y: 990,
			width: 202,
			height: 64,
		),
		(
			x: 2875,
			y: 1056,
			width: 166,
			height: 64,
		),
		(
			x: 2875,
			y: 1122,
			width: 130,
			height: 64,
		),
		(
			x: 2875,
			y: 3920,
			width: 94,
			height: 64,
		),
		(
			x: 2094,
			y: 4030,
			width: 243,
			height: 64,
		),
		(
			x: 2339,
			y: 4030,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 66,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 132,
			width: 243,
			height: 64,
		),
		(
			x: 2280,
			y: 0,
			width: 243,
			height: 64,
		),
		(
			x: 2584,
			y: 4030,
			width: 243,
			height: 64,
		),
		(
			x: 1745,
			y: 4030,
			width: 347,
			height: 64,
		),
		(
			x: 1047,
			y: 4030,
			width: 347,
			height: 64,
		),
		(
			x: 1396,
			y: 4030,
			width: 347,
			height: 64,
		),
		(
			x: 0,
			y: 4030,
			width: 347,
			height: 64,
		),
		(
			x: 698,
			y: 4030,
			width: 347,
			height: 64,
		),
		(
			x: 349,
			y: 4030,
			width: 347,
			height: 64,
		),
		(
			x: 2875,
			y: 3788,
			width: 115,
			height: 64,
		),
		(
			x: 2875,
			y: 3854,
			width: 115,
			height: 64,
		),
		(
			x: 3005,
			y: 1252,
			width: 64,
			height: 64,
		),
		(
			x: 3043,
			y: 1056,
			width: 64,
			height: 64,
		),
		(
			x: 3007,
			y: 1122,
			width: 64,
			height: 64,
		),
		(
			x: 3005,
			y: 1318,
			width: 64,
			height: 64,
		),
		(
			x: 3005,
			y: 1384,
			width: 64,
			height: 64,
		),
		(
			x: 2992,
			y: 3788,
			width: 64,
			height: 64,
		),
		(
			x: 2992,
			y: 3854,
			width: 64,
			height: 61,
		),
		(
			x: 2971,
			y: 3920,
			width: 64,
			height: 58,
		),
		(
			x: 3005,
			y: 1188,
			width: 64,
			height: 62,
		),
		(
			x: 3005,
			y: 1450,
			width: 64,
			height: 59,
		),
		(
			x: 2280,
			y: 858,
			width: 10,
			height: 21,
		),
	]
))
