(
    axes: {
        Vertical(0): Emulated(pos: Key(Up), neg: Key(Down)),
        Horizontal(0): Emulated(pos: Key(Right), neg: Key(Left)),
    },
    actions: {
        Shoot(0): [[Key(Z)]],
        Cancel(0): [[Key(X)]],
        Escape(0): [[Key(Escape)]],
    },
)
