Stage(
	blocks: [
		(
			x: 0.1,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.18,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.26,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.34,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.42,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.5,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.58,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.66,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.74,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.82,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.9,
			y: 0.95,
			sprite: 0
		),
		(
			x: 0.1,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.18,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.26,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.34,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.42,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.5,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.58,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.66,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.74,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.82,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.9,
			y: 0.92,
			sprite: 11
		),
		(
			x: 0.1,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.18,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.26,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.34,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.42,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.5,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.58,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.66,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.74,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.82,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.9,
			y: 0.89,
			sprite: 22
		),
		(
			x: 0.1,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.18,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.26,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.34,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.42,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.5,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.58,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.66,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.74,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.82,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.9,
			y: 0.86,
			sprite: 33
		),
		(
			x: 0.1,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.18,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.26,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.34,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.42,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.5,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.58,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.66,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.74,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.82,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.9,
			y: 0.83,
			sprite: 44
		),
		(
			x: 0.1,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.18,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.26,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.34,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.42,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.5,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.58,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.66,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.74,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.82,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.9,
			y: 0.8,
			sprite: 55
		),
		(
			x: 0.1,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.18,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.26,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.34,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.42,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.5,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.58,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.66,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.74,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.82,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.9,
			y: 0.77,
			sprite: 66
		),
		(
			x: 0.1,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.18,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.26,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.34,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.42,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.5,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.58,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.66,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.74,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.82,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.9,
			y: 0.74,
			sprite: 77
		),
		(
			x: 0.1,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.18,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.26,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.34,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.42,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.5,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.58,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.66,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.74,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.82,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.9,
			y: 0.71,
			sprite: 88
		),
		(
			x: 0.1,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.18,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.26,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.34,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.42,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.5,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.58,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.66,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.74,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.82,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.9,
			y: 0.68,
			sprite: 99
		),
		(
			x: 0.1,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.18,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.26,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.34,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.42,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.5,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.58,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.66,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.74,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.82,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.9,
			y: 0.65,
			sprite: 0
		),
		(
			x: 0.1,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.18,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.26,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.34,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.42,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.5,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.58,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.66,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.74,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.82,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.9,
			y: 0.62,
			sprite: 11
		),
		(
			x: 0.1,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.18,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.26,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.34,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.42,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.5,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.58,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.66,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.74,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.82,
			y: 0.59,
			sprite: 22
		),
		(
			x: 0.9,
			y: 0.59,
			sprite: 22
		),
	]
)
